/* 네비게이션 바 */

/* 기본 설정 */
nav.navbar {
    height: 48px;
    background-color: #137AD1;
}

i.bi {
    font-size:18px;
    color: white;
}

#button-addon1 {
    background-color: #137AD1;
    border-color: #137AD1;
    border:none;
    width: 50px;
    height: 48px;
    box-sizing: border-box;
    margin-top: -3px;
}

#button-addon1:hover {
    background-color: #084F8F;
}
/* 원드라이브 글씨 */
span.navbar-brand {
    font-size: medium;
}

/* 검색바 */
div.input-group {
    height: 32px; width: 468px;
    margin-left: 20px;
}

#search-button {
    transform: scaleX(-1);
    font-size:15px;
    color: #137AD1;
}

#button-addon2 {
    background-color: #E1DFDD;
    border-color: #E1DFDD;
    border:none;
    box-sizing: border-box;
}

input.form-control {
    background-color: #E1DFDD;
}

